<div class="form">
  <h2>Login</h2>
  <div class="input">
    <div class="inputBox">
      <Label>Benutzername</Label>
      <input type="text" name="username" placeholder="smth">
    </div>
    <div class="inputBox">
      <Label>Passwort</Label>
      <input type="password" name="password" placeholder="******">
    </div>
    <div class="inputBox">
      <input type="submit" name="submit" value="Einloggen" routerLink="/upload">
    </div>
  </div>
  <p class="forgot">Passwort vergessen? <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Hier klicken</a></p>
</div>
