<form class="form" (ngSubmit)="login()">
  <h2>{{isRegister ? 'Registieren' : 'Login'}}</h2>
  <div class="input">
    <div class="inputBox">
      <Label>Benutzername</Label>
      <input type="text" name="username" placeholder="smth" [(ngModel)]="bindingModel.username">
    </div>
    <div class="inputBox">
      <Label>Passwort</Label>
      <input type="password" name="password" placeholder="******" [(ngModel)]="bindingModel.password">
    </div>
    <div class="remember">
      <app-check-box class="check-box" [(checked)]="bindingModel.remember" text="Eingeloggt bleiben"></app-check-box>
    </div>
    <div class="inputBox">
      <input class="submit" type="submit" name="submit" value="Einloggen">
    </div>
  </div>
  <p class="forgot">QR-Login verwenden? <a href="/qr-login">Hier klicken</a></p>
</form>
