@import "src/app/shared/styles/colors.scss";

:host {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

header {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  overflow: hidden;
  padding: 10px;

  .upload-icon {
    height: 50x;
    width: 50px;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      transform: scale(1.2);
      transform-origin: top right;
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.file-list {
  width: 600px;
  max-height: 100%;
  margin: 20px 0;
  padding: 40px 40px;
  background-color: $dark-background-color;
  border-radius: 10px;
  text-align: center;
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.05), 5px 5px 15px rgba(0, 0, 0, 0.5);
  overflow-y: auto;

  .file {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    justify-items: start;
    width: 100%;
    height: 50px;
    border-radius: 40px;
    padding: 0 20px;
    font-size: 18px;
    box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.1), inset 2px 2px 6px rgba(0, 0, 0, 0.8);

    &:not(:last-child) {
      margin-bottom: 15px;
    }

    span {
      display: flex;
      align-items: center;
      overflow: hidden;
      white-space: nowrap;
      height: 30px;
    }

    .upload-date,
    .file-type {
      flex: 0 0 auto;
    }

    .upload-date {
      color: rgb(87, 255, 219);
    }

    .file-name {
      flex: 0 1 auto;
      margin-left: 10px;
      text-overflow: ellipsis;
    }

    .icon {
      height: 40px;
      user-select: none;
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        transform: scale(1.2);
      }
    }

    .download-icon {
      margin-left: auto;
    }
  }
}
