:host {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.box {
    position: relative;
}

.container {
    position: relative;
    width: 400px;
    min-height: 400px;
    background: #000;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
}

.form {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 40px;
    box-sizing: border-box;
}

.form h2 {
    position: relative;
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 40px;
}

.inputBox {
    width: 100%;
    margin-top: 20px;
}

.inputBox input {
    width: 100%;
    background: transparent;
    border: none;
    padding: 10px 20px;
    border-radius: 35px;
    background: rgba(255, 255, 255, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    outline: none;
    font-size: 16px;
    letter-spacing: 1px;
    color: #fff;
}

::placeholder {
    color: #fff;
}

.inputBox input[type="submit"] {
    background: #fff;
    color: #666;
    border: none;
    font-weight: 600;
    max-width: 100px;
    cursor: pointer;
    margin-bottom: 20px;
}

.forgot {
    margin-top: 5px;
    color: #fff;
    padding: 2px;
}

.forgot a {
    color: #fff;
    font-weight: 600;
}
