@import "src/app/shared/styles/reset.scss";
@import "src/app/shared/styles/colors.scss";

html,
body {
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: $background-color;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $background-color;
}

* {
  color: $font-color;
}

svg-icon {
  svg {
    height: 100%;
    width: 100%;
    fill: currentColor;
  }
}

button {
  background: none;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 20px;
  border: 2px solid #2fb3ff;
  color: white;
  padding: 14px 20px;
  outline: none;
  opacity: 1;
  border-radius: 50px;
  transition: 0.25s;
  user-select: none;

  cursor: pointer;

  &:hover {
    background-color: #2fb3ff;
  }

  &.secondary {
    border-color: #a1a1a1;

    &:hover {
      background-color: #a1a1a1;
    }
  }

  &.red {
    border-color: #cc2e2e;

    &:hover {
      background-color: #cc2e2e;
    }
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: $background-color;
}

::-webkit-scrollbar-thumb {
  background: #6b6b6b;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
