@import "src/app/base/reset/reset.scss";
@import "src/app/shared/style/colors.scss";

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: $background;
}

*{
    color: $font-color;
}