@import "src/app/shared/styles/reset.scss";
@import "src/app/shared/styles/colors.scss";

html,
body {
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: $background-color;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $background-color;
}

* {
  color: $font-color;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: $background-color;
}

::-webkit-scrollbar-thumb {
  background: #6b6b6b;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
